h1 {
  color: #7AA1D2;
  font-size: 56px;
  
font-family: 'Tenali Ramakrishna', sans-serif;


}

div {
 background:#f1c3b8 ;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  #f1c3b8;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: #9F3442;
}

.link:hover {
  color: #458D2E;
}

.line-transparent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-light {
  height: 5px;
  width: 20%;
  background: #EE9CA7;
}

.line-medium {
  height: 5px;
  width: 30%;
  background: #C86472;
}

.line-hard {
  height: 5px;
  width: 50%;
  background: #9F3442;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
body {
  background: #ffcbcb;
font-family: 'Tenali Ramakrishna', sans-serif;
    text-align: center;
   background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h3{
	font-size : 36px;
}

img {
  width: 600px;
  height: 200px;
  object-fit: cover;
}
p{
font-family: 'Tenali Ramakrishna', sans-serif;
	font-size : 16px;

}

.cadre {
  background: #BEE7E8;
  border: 3px solid #BEE7E8
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 10px grey;
}

.bellagio {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 10px grey;
  margin: 10px;
}

.jamaique {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 10px grey;
  margin: 10px;
}

.toronto {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 10px grey;
  margin: 10px;
}

.cadre {
  background: #82c4c3
  border: 3px solid #82c4c3;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
}

.voyage{
  align-items: left
}
img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-header{ 
 background: #82c4c3
  border: 3px solid #82c4c3;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gre
 };
.card-body {
   background: #82c4c3
  border: 3px solid #82c4c3;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gre

}

.my-btn {
  display: inline-block;
  align-items: left;
  color: white;
  background:  #7AA1D2;
  margin: 20px;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
}

.my-btn:hover {
  color: white;
  opacity: 0.8;
}